<a href="https://colab.research.google.com/github/LakshaySharma-2003/PROJECTS/blob/main/Stock_Dataset_scrapping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Creating Stock Data**

In [ ]:
import yfinance as yf
import pandas as pd

def scrape_stock_data(symbol, start_date, end_date):
    # Download historical stock data
    data = yf.download(symbol, start=start_date, end=end_date)

    # Reset the index
    data.reset_index(inplace=True)

    # Save the data to a CSV file
    data.to_csv(f'{symbol}_stock_data.csv', index=False)

    return data

# Specify the list of company symbols, start date, and end date for data scraping
company_symbols = ['RELIANCE.NS', 'TCS.NS', 'HDFCBANK.NS', 'ITC.NS', 'HINDUNILVR.NS']  # Example symbols
start_date = '2020-01-01'
end_date = '2023-07-01'

# Loop through the company symbols and scrape stock data for each company
for symbol in company_symbols:
    print(f"Scraping data for {symbol}...")
    stock_data = scrape_stock_data(symbol, start_date, end_date)
    print(f"Data saved for {symbol}\n")

Scraping data for RELIANCE.NS...
[*********************100%***********************]  1 of 1 completed
Data saved for RELIANCE.NS

Scraping data for TCS.NS...
[*********************100%***********************]  1 of 1 completed
Data saved for TCS.NS

Scraping data for HDFCBANK.NS...
[*********************100%***********************]  1 of 1 completed
Data saved for HDFCBANK.NS

Scraping data for ITC.NS...
[*********************100%***********************]  1 of 1 completed
Data saved for ITC.NS

Scraping data for HINDUNILVR.NS...
[*********************100%***********************]  1 of 1 completed
Data saved for HINDUNILVR.NS

**Creating Revenue Data**

In [ ]:
def calculate_revenue(data):
    # Calculate revenue by multiplying the 'Close' price with 'Volume'
    data['Revenue'] = data['Close'] * data['Volume']

    return data

# Specify the list of company symbols for revenue calculation
company_symbols = ['RELIANCE.NS', 'TCS.NS', 'HDFCBANK.NS', 'ITC.NS', 'HINDUNILVR.NS'] # Example symbols

# Loop through the company symbols and calculate revenue for each company
for symbol in company_symbols:
    # Read the stock data CSV file for the company
    data = pd.read_csv(f'{symbol}_stock_data.csv')

    # Calculate revenue
    data = calculate_revenue(data)

    # Display the revenue data
    print(f"Revenue for {symbol}:")
    print(data[['Date', 'Revenue']])
    print()

    data.to_csv(f'{symbol}_stock_data_revenue.csv', index=False)

Revenue for RELIANCE.NS:
           Date       Revenue
0    2020-01-01  9.665021e+09
1    2020-01-02  1.243065e+10
2    2020-01-03  1.474664e+10
3    2020-01-06  1.683083e+10
4    2020-01-07  1.162842e+10
..          ...           ...
864  2023-06-23  7.692831e+09
865  2023-06-26  1.455877e+10
866  2023-06-27  1.116334e+10
867  2023-06-28  0.000000e+00
868  2023-06-30  1.312471e+10

[869 rows x 2 columns]

Revenue for TCS.NS:
           Date       Revenue
0    2020-01-01  2.936899e+09
1    2020-01-02  5.136829e+09
2    2020-01-03  1.024570e+10
3    2020-01-06  6.652420e+09
4    2020-01-07  5.358709e+09
..          ...           ...
864  2023-06-23  3.600720e+09
865  2023-06-26  6.311689e+09
866  2023-06-27  2.761046e+09
867  2023-06-28  0.000000e+00
868  2023-06-30  8.824953e+09

[869 rows x 2 columns]

Revenue for HDFCBANK.NS:
           Date       Revenue
0    2020-01-01  2.348595e+09
1    2020-01-02  3.948499e+09
2    2020-01-03  6.884590e+09
3    2020-01-06  6.757088e+09
4    2020-01-07  9.280848e+09
..          ...           ...
864  2023-06-23  1.753550e+10
865  2023-06-26  1.319097e+10
866  2023-06-27  2.805676e+10
867  2023-06-28  0.000000e+00
868  2023-06-30  3.462265e+10

[869 rows x 2 columns]

Revenue for ITC.NS:
           Date       Revenue
0    2020-01-01  1.002124e+09
1    2020-01-02  2.015455e+09
2    2020-01-03  2.214348e+09
3    2020-01-06  1.795369e+09
4    2020-01-07  1.980880e+09
..          ...           ...
864  2023-06-23  2.708928e+09
865  2023-06-26  2.441250e+09
866  2023-06-27  2.165677e+09
867  2023-06-28  0.000000e+00
868  2023-06-30  4.112303e+09

[869 rows x 2 columns]

Revenue for HINDUNILVR.NS:
           Date       Revenue
0    2020-01-01  1.051614e+09
1    2020-01-02  1.285460e+09
2    2020-01-03  3.081655e+09
3    2020-01-06  1.308499e+09
4    2020-01-07  1.553721e+09
..          ...           ...
864  2023-06-23  2.618391e+09
865  2023-06-26  2.012148e+09
866  2023-06-27  1.823458e+09
867  2023-06-28  0.000000e+00
868  2023-06-30  3.107139e+09

[869 rows x 2 columns]